* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.form-container {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  border-radius: 1rem;
  padding: 1rem;
}
.text-center {
  text-align: center;
  margin: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user-input {
  width: 300px;
  padding: 0.8rem;
  border: none;
  background-color: #eee;
  border-radius: 0.8rem;
}
.user-input:focus {
  border: none;
  outline: 2px solid blue;
}
.error {
  color: red;
  padding-left: 0.8rem;
}
.checkbox-container {
  padding: 0 10px 10px 5px;
}
.checkbox-label {
  font-size: 0.9rem;
  font-weight: bold;
}
.checkbox {
  vertical-align: text-bottom;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 1rem;
}
.btn:focus {
  background: navy;
}

